<!DOCTYPE html>
<html lang="en">

<head?>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About us </a></li>
                    <li><a href="">Contact us</a></li>
                </ul>
            </nav>
            <main>
                <p>For bookings by telephone; Phone number: 514-222-1111</p>
                <li><a href="">Online Bookings made Here</a></li>
                <p>Our Location</p>
                <img src="https://placehold.co/600x400?text=Map\n" alt="Map">
                <sections></sections>
                <sections>
                    <ul>
                        <li><a href="">Instagram</a>To See more of us</li>
                        <li><a href="">Facebook</a>Give us a like!</li>
                    </ul>
                </sections>
            </main>
        </header>
        <footer>
    
            <sections>
                <ul>
                    <li><a href="">Phone</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Instagram</a></li>
                </ul>
            </sections>
            <sections>&copy; Ongles King 2023</sections>
        </footer>
    </body>

</html>
</body>

</html>