<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Work</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home </a></li>
                <li><a href="">About us </a></li>
                <li><a href="">Contact us </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Our Work</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis distinctio beatae officiis possimus aliquid pariatur atque, placeat vero corrupti! Doloremque veritatis quas totam, nesciunt natus autem omnis voluptates architecto? Sit.</p>
        <img src="https://placehold.co/400x400" alt="work 1">
        <img src="https://placehold.co/400x400" alt="work 2">
        <img src="https://placehold.co/400x400" alt="work 3">
        <img src="https://placehold.co/400x400" alt="work 4">
        <img src="https://placehold.co/400x400" alt="work 5">
        <img src="https://placehold.co/400x400" alt="work 6">
        <img src="https://placehold.co/400x400" alt="work 7">
        <img src="https://placehold.co/400x400" alt="work 8">
        <img src="https://placehold.co/400x400" alt="work 9">
    </main>
    <footer>
         <sections>mailto:</sections> 
        <sections>
            <ul>
                <li><a href="">Phone</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </sections>
        <sections>&copy; Ongles King 2023</sections>
    </footer>
</body>

</html>